node_modules/
build/
build/
*.log
coverage/
.env*
.eslintcache

# Build outputs
dist/

# VitePress
docs/.vitepress/dist
docs/.vitepress/cache

# Test Reports
test-report.junit.xml

# Runtime caches
.bun/
.deno/
bun.lockb